{% extends "@App/base.html.twig" %}

{% block body %}

{% include "@App/header.html.twig" %}
    <h1>Categorie creation</h1>

    {{ form_start(form) }}

        {# {{ form_widget(form) }} #}
        <p>{{ form_label(form.title) }}</p>
        <p>{{ form_widget(form.title) }}</p>

        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('categorie_index') }}">Back to the list</a>
        </li>
    </ul>

    {% include "@App/footer.html.twig" %}

{% endblock %}
