{% extends "@App/base.html.twig" %}

{% block body %}

{% include "@App/header.html.twig" %}
    <h1>Index des series</h1>

    <ul>
        <li>
            <a href="{{ path('serie_new') }}" class="btn btn-primary" role="button">Nouvelle serie</a>
        </li>
    </ul>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Nombre de pages</th>
                <th>Aperçu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for serie in series %}
            <tr>
                <td><a href="{{ path('serie_show', { 'id': serie.id }) }}">{{ serie.id }}</a></td>
                <td>
                    <a href="{{ path('serie_show', { 'id': serie.id }) }}">{{ serie.title }}</a>
                </td>
                <td>{{ serie.sketchs|length }}</td>
                <td>
                    <a href="{{ path('serie_read', { 'id': serie.id, 'page': 1 }) }}">
                        <img src="{{app.request.basepath}}/uploads/sketchs/{{ serie.sketchs|first.image }}" class="img-thumbnail" alt="Responsive image"/></td>
                    </a>
                <td>
                    <ul>
                        {#<li>
                            <a href="{{ path('serie_read', { 'id': serie.id, 'page': 1 }) }}">read</a>
                        </li>
                        <li>
                            <a href="{{ path('serie_show', { 'id': serie.id }) }}">show</a>
                        </li>#}
                        <li>
                            <a href="{{ path('serie_edit', { 'id': serie.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include "@App/footer.html.twig" %}

{% endblock %}
