{% extends "@App/base.html.twig" %}

{% block body %}

{% include "@App/header.html.twig" %}


    <h1>Index des films</h1>
    <span>Nombre de films enregistrés : {{ nb_films }}</span>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titre</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for film in films %}
        <tr>
            <td>
            <a href="{{ path('film_show', { 'id': film.id }) }}">{{ film.id }}</a></td>
            <td><a href="{{ path('film_show', { 'id': film.id }) }}">{{ film.title }}</a></td>
            <td>{{ film.description }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('film_edit', { 'id': film.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('film_new') }}">Create a new film</a>
        </li>
        <li>
            contact : {{ admin_email }} </a>
        </li>
    </ul>
    
    {% include "@App/footer.html.twig" %}

{% endblock %}
