{% extends "@App/base.html.twig" %}

{% block body %}

{% include "@App/header.html.twig" %}
    <h1>Film</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ film.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ film.title }}</td>
            </tr>
             <tr>
                <th>Categorie</th>
                <td>{{ film.categorie.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ film.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ film.image }}</td>
            </tr>
            <tr>
                <th>Aperçu</th>
                <td>
                    <img src="{{app.request.basepath}}/uploads/images/{ film.image }}" class="img-fluid" alt="Responsive image"/>
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('film_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('film_edit', { 'id': film.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('film_new') }}">Create a new film</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    {% include "@App/footer.html.twig" %}

{% endblock %}
