{% extends "@App/base.html.twig" %}

{% block body %}

{% include "@App/header.html.twig" %}
    <h1>Image</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sketch.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>
                <a href="{{ path('serie_show', { 'id': sketch.serie.id }) }}">{{ sketch.serie.title }}</a>
                </td>
            </tr>
            <tr>
                <th>Collection</th>
                <td>{{ sketch.serie.title }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ sketch.image }}</td>
            </tr>
            <tr>
                <th>Aperçu</th>
                <td>
                    <img src="{{app.request.basepath}}/uploads/sketchs/{{ sketch.image }}" class="img-fluid" alt="Responsive image"/>
                </td>
            </tr>
            
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sketch_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sketch_edit', { 'id': sketch.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('sketch_new') }}">Create a new sketch</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    {% include "@App/footer.html.twig" %}

{% endblock %}
