{% extends 'base.html.twig' %}

{% block body %}
    <h1>Image</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sketch.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ sketch.name }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ sketch.image }}</td>
            </tr>
            <tr>
                <th>Aperçu</th>
                <td><img src="{{app.request.basepath}}/uploads/sketchs/{{ sketch.image }}"/></td>
            </tr>
            

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sketch_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sketch_edit', { 'id': sketch.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
