{% extends "@App/base.html.twig" %}

{% block body %}

{% include "@App/header.html.twig" %}
    <h1>Index des collections</h1>

    <ul>
        <li>
            <a href="{{ path('collection_new') }}" class="btn btn-primary" role="button">Nouvelle collection</a>
        </li>
    </ul>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for collection in collections %}
            <tr>
                <td><a href="{{ path('collection_show', { 'id': collection.id }) }}">{{ collection.id }}</a></td>
                <td>
                    <a href="{{ path('collection_show', { 'id': collection.id }) }}">{{ collection.name }}</a>
                </td>
                <td>{{ collection.sketchs|length }}</td>
                <td>
                    <ul>
                        {# <li>
                            <a href="{{ path('collection_show', { 'id': collection.id }) }}">show</a>
                        </li> #}
                        <li>
                            <a href="{{ path('collection_edit', { 'id': collection.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include "@App/footer.html.twig" %}

{% endblock %}
