{% extends "@App/base.html.twig" %}

{% block body %}

{% include "@App/header.html.twig" %}
    <h1>Collection</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ collection.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ collection.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('collection_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('collection_edit', { 'id': collection.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    {% include "@App/footer.html.twig" %}

{% endblock %}
